# ===== C# / .NET basic gitignore =====

# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Backup & logs
*.log
*.tmp
*.bak

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Cache
*.cache
*.config

# OS files
Thumbs.db
.DS_Store